.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html{
	background-color:#0ec588;
}

body {
	background-color:#ffffff
	}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #252525;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #1847df;
}

#name {
	position: relative;
	top: -10px;
	color: rgb(152, 19, 214);
  text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


#email{
	text-align: center;
  
	font-size:16px;
	font-family: Verdana, sans-serif;
	color:#252525;
}
h1:hover
{
	background-color:rgb(152, 19, 214);
  color:#ffffff;
}
h2:hover
{
	background-color:#630ec5;
  color:#ffffff;
}
div{
  text-align: center;
	border-radius:3px dotted rgb(152, 19, 214);
}